<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
</head>

<body>

<div class="container">

    <div class="sidebar">

        <div class="logo">
            <h2>MGC2</h2>
            <p>Control Center</p>
        </div>

        <nav>
            <ul>
                <li class="{% if active_page == 'machines' %}active-tab{% endif %}">
                    <a href="{{ url_for('machines') }}">Machines</a>
                </li>

                <li class="{% if active_page == 'command' %}active-tab{% endif %}">
                    <a href="#">CMD Prompt</a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

</div>

</body>
</html>
